<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ingredient Details</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

    <p>Food: <%= food.name %></p>
    <p>Quantity: <%= food.quantity %></p>

    <a href="/users/<%= user._id %>/foods/<%= food._id %>/edit">Edit</a>
    <form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <a href="/users/<%= user._id %>/foods">Back to Pantry</a>

</body>
</html>
